<footer class="container">
  <div class="footer-logo"><h3>Contact-App</h3></div>

  <div class="second-column">
    <h3>CONTACT</h3>
    <ul>
      <li>insert email here</li>
      <hr />
      <li>address line one</li>
      <li>address line two</li>
    </ul>
  </div>

  <div class="third-column">
    <h3>ABOUT US</h3>
    <ul>
      <li>jOHN</li>
      <li>john@gmail.com</li>
      <li>+91 8954673264</li>
    </ul>
  </div>
</footer>
<div class="copyright">
  <p>Copyright&copy;ContactAPP 2024.All rights reserved.</p>
</div>
