<nav class="container">
  <div class="logo-container">
    <img
      style="width: 30px"
      src="https://i.pinimg.com/originals/84/4e/8c/844e8cd4ab26c82286238471f0e5a901.png"
      alt="contact app logo"
    />
    <p>Contact-App</p>
  </div>

  <div class="input-container">
    <div class="search-box">
      <input type="text" placeholder="Search here" />
    </div>
    <div class="icon"><i class="fas fa-search"></i></div>
  </div>

  <div class="links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#"> Contact</a></li>
    </ul>
  </div>
</nav>
